/* _header.scss */

header
{
	@extend .cf;
	@extend .margin-bottom;
	background: $villain;
	position: relative;

	@media screen and (max-width: 70rem)
	{
		margin-bottom: 0;
		overflow: initial;
	}
}

.container--header
{
	@extend .container--padded;
	position: relative;
	z-index: 10;
}

.logo-container
{
	@extend .left;
	margin: auto;
	padding: ($base-size-fallback * 0.5) 0;
	padding: ($base-size * 0.5) 0;

	@media screen and (max-width: 58rem)
	{
		float: none;
	}
}

.logo
{
	font-size: 0;
	display: block;

	@media screen and (max-width: 58rem)
	{
		margin: auto;
		text-align: center;
	}
}

.logo-mark
{
	@extend .left;
	width: $base-size-fallback * 2.5;
	width: $base-size * 2.5;
	height: $base-size-fallback * 2.5;
	height: $base-size * 2.5;
	display: inline-block;
	
	.ie8 &
	{
		max-width: $base-size-fallback * 3.5 !important;
	}

	@media screen and (max-width: 58rem)
	{
		float: none;
		width: $base-size-fallback * 2;
		width: $base-size * 2;
		height: $base-size-fallback * 2;
		height: $base-size * 2;
	}
}

.logo-word
{
	@extend .left;
	@include margin(0.4375, 0, 0, 0.75);
    @include single-transition(margin, 0.1s, ease-in-out);

    .ie8 &
    {
    	width: 231px;
    	max-width: 231px;
    	height: 36px;
    }

 //    @media screen and (max-width: 62rem)
	// {
	// 	display: none;
	// }

    @media screen and (max-width: 58rem)
    {
    	float: none;
    	display: inline;
    	width: 180px;
    	height: 28px;
    	margin: 0.25rem 0 0 0.5rem;
    }
}

// .logo-word-stacked
// {
// 	@extend .left;
// 	margin-top: 3px;
// 	display: none;

// 	@media screen and (max-width: 62rem)
// 	{
// 		display: block;
// 	}

// 	@media screen and (max-width: 58rem)
// 	{
// 		display: none;
// 	}
// }