/* _nav.scss */

nav
{
	@extend .right;

	@media screen and (max-width: 50rem)
	{
		display: none;
	}
}

.menu-toggle
{
	@extend .right;

	&:hover
	{
		@extend .menu-toggle--active;
	}

	.ie8 &
	{
		display: none;
	}

	@media screen and (min-width: 50rem)
	{
		display: none;
	}

	@media screen and (max-width: 50rem)
	{
		@include padding(0.9375, 1.125, 0.9375, 1.125);
		display: inline-block;
        background: #333333;
        color: white;
        line-height: 1;
	}
}

.menu-toggle--active
{
	background: $hero;
	color: white;
}

.menu
{
	list-style-type: none;
	z-index: 1000;
	margin-left: 0;

	.menu-item
	{
		@extend .left;
		position: relative;
		//background: $villain;

		a
		{
			@include font-size(0.938);
			@include padding(1.5, 0.75, 1.5625, 0.75);
			display: block;
			font-weight: 700;
			color: #FFF;

			&:hover
			{
				background: $hero;
				color: white;
				cursor: pointer;
			}

			@media screen and (max-width: 50rem) 
			{
				@include padding(0.75, 0.75, 0.75, 0.75);
			}
		}

		@media screen and (max-width: 50rem)
		{
			float: none;
			width: 100%;
			position: relative;
		}
	}

	& > .menu-item:hover
	{
		background: $hero;

		& > .sub-menu
		{
			.ie8 &
			{
				display: block;
			}

			@media screen and (min-width: 50rem)
			{
				display: block;
			}
		}
	}

	& > .menu-item > a:after
	{
		@include padding(0, 0, 0, 0.75);
		font-family: "FontAwesome";
        content: "\f0d7";

        @media screen and (max-width: 50rem)
        {
    		position: absolute;
    		right: $base-size-fallback;
    		right: $base-size;
        }
	}

	& > .menu-item > a.active:after
	{
		content: "\f0d8";
	}

	.sub-menu
	{
		background: $villain;
		list-style-type: none;
		z-index: 1000;
		display: none;
		position: absolute;
		top: $base-size-fallback * 4.5;
		top: $base-size * 4.5;
		right: 0;
		width: $base-size-fallback * 12;
		width: $base-size * 12;
		margin-left: 0;

		.menu-item
		{
			width: 100%;

			a
			{
				@include padding(0.1875, 0.75, 0.25, 0.75);
				font-weight: 400;
				font-size: round($base-size-fallback * 0.875);
				font-size: $base-size * 0.875;
			}
		}

		.sub-title > a
		{
			color: darken($ui, 10%);
			font-size: $base-size-fallback * 0.8125;
			font-size: $base-size * 0.8125;
			padding-top: $base-size-fallback * 0.375;
			padding-top: $base-size * 0.375;

			&:hover
			{
				background: none;
				cursor: default;
			}
		}

		.sub-menu
		{
			display: block !important;
			position: relative;
			top: 0;
		}

		@media screen and (max-width: 50rem)
		{
			position: relative;
			top: 0;
			width: 100%;
		}
	}

	@media screen and (max-width: 50rem)
	{
		float: none;
		clear: both;
		position: absolute;
		top: $base-size-fallback * 4.5;
		top: $base-size * 4.5;
		right: $base-size-fallback;
		right: $base-size;
		width: $base-size-fallback * 20;
		width: $base-size * 20;
		background: $villain;
	}

	@media screen and (max-width: 30rem)
	{
		left: $base-size-fallback;
		left: $base-size;
		width: auto;
	}
}